<ng-container *ngIf="transactionForm">
    <div [formGroup]="transactionForm" class="padding-16">
        <ng-container formArrayName="categories">
            <div class="flex bold">
                <div class="flex-item">Category</div>
                <div class="flex-item">Amount</div>
            </div>
            <ng-container *ngFor="let categoryForm of categories.controls; let i = index">
                <div class="flex" [formGroup]="categoryForm">
                    <mat-form-field class="flex-item" appearance="fill">
                        <input matInput
                            formControlName="name"
                            placeholder="Category Name"
                        >
                    </mat-form-field>
                    <mat-form-field class="flex-item" appearance="fill" class="padding-left-8">
                        <input matInput type="number" formControlName="amount" placeholder="0">
                    </mat-form-field>
                    <mat-icon *ngIf="!disableEdit" class="delete-btn padding-left-8" (click)="deleteCategory(i)">delete_forever</mat-icon>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="button-container">
        <div class="flex">
            <button mat-mini-fab (click)="addCategory()" [disabled]="disableEdit">
                <mat-icon>add</mat-icon>
            </button>
            
            <button
                type="submit"
                [title]="transactionForm.valid ? 'Update' : 'Form data invalid'"
                (click)="save()"
                [disabled]='!transactionForm.valid || disableEdit'>
                Save
            </button>
        </div>
    </div>
</ng-container>