<div class="flex-column margin-32 border">
    <div class="flex">
        <div class="flex-third">
            <div class="header-height border-bottom flex-column">
                <span class="padding-16 bold">Budget Editor</span>
                <app-date-month-picker (dateChanged)="budgetMonthSelected($event)"></app-date-month-picker>
            </div>
            <app-budget-edit-table [type]="BUDGET" [date]="budgetEditorMonth"></app-budget-edit-table>
        </div>
        <div class="flex-third border-left">
            <div class="header-height border-bottom">
                <span class="padding-16 bold">Default Budget</span>
            </div>
            <app-budget-edit-table [isDefaultBudget]="true"></app-budget-edit-table>
        </div>
        <div class="flex-third border-left">
            <div class="header-height border-bottom flex-column">
                <span class="padding-16 bold">Budget Averages</span>
                <app-date-range-picker (dateChanged)="budgetMonthSelected($event)"></app-date-range-picker>
            </div>
            <div>Placeholder</div>
        </div>
        
    </div>
</div>