<div style="width: 300px">
    <div class="centered bold">
        Total:   ${{total}}
    </div>
    <div class="flex">
        <div class="flex-column padding-16 full-width">
            <div class="bold centered">Category</div>
            <ng-container *ngFor="let item of categoryTotals">
                <div class="flex-item flex">
                    <div class="flex-item" style="text-align: left;">
                        <span>{{item.category}}</span>
                    </div>
                    <div class="flex-item" style="text-align: right;">
                        <span>${{item.total}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="flex-column padding-16 border-left full-width">
            <div class="bold centered">Tag</div>
            <ng-container *ngFor="let item of tagTotals">
                <div class="flex-item flex">
                    <div class="flex-item" style="text-align: left;">
                        <span>{{item.tag}}</span>
                    </div>
                    <div class="flex-item" style="text-align: right;">
                        <span>${{item.total}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>