<div class="margin-32 border">
    <div class="widget-title border-bottom">
        <span class="widget-title-font padding-16">Tag Home</span>
        <app-date-range-picker
            class="flex-align-right padding-8 paddin-right-16"
            (dateChanged)="onDateChanged($event)"
        ></app-date-range-picker>
    </div>
    <div class="flex">
        <div class="flex-column padding-16">
            <app-transaction-selector [transactions]="transactions" [type]="tagType" (optionSelected)="onTagChanged($event)"></app-transaction-selector>
            <app-tag-detail-table class="flex-item" [transactions]="transactions" [tagSelected]="tagSelected"></app-tag-detail-table>
        </div>
        <div class="flex-column padding-16">
            <app-transaction-selector class="flex-item" [transactions]="transactions" [type]="categoryType" (optionSelected)="onCategoryChanged($event)"></app-transaction-selector>
            <app-category-tag-detail class="flex-item" [dateRange]="dateRange" [transactions]="transactions" [categorySelected]="categorySelected"></app-category-tag-detail>
        </div>
    </div>
</div>
